@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.icon-phone-shake {
  position: fixed;
  bottom: 100px;
  left: 40px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background-color: #0e85ea;
  animation: pulse 1s ease-in-out infinite;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transition: 1s;
}

.icon-phone-shake img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  filter: invert(1);
}
.icon-phone-shake img:hover {
  animation: none;
}
.icon-insta-shake {
  position: fixed;
  bottom: 200px;
  left: 40px;
  z-index: 1000;
  width: 50px;
  height: 50px;
}
.icon-insta-shake img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite,
    pulse 1s ease-in-out infinite;
}
.icon-insta-shake img:hover {
  animation: none;
}
